<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>모든 전공</h2>
    <div class="add">
        <a href="{% url 'addMajor' %}">전공 추가</a>
    </div>
    <div>
        <ul>
            {% for major in majors %}
            <li>
                <a href="{% url 'filter' major.name %}">{{ major.name }}</a>
                <span>
                    <a href="{% url 'editMajor' major.pk %}">수정</a>
                    <a href="{% url 'deleteMajor' major.pk %}">삭제</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>    

    <h2>모든 과목</h2>
    <div class="add">
        <a href="{% url 'addSubject' %}">과목 추가</a>        
    </div>
    <div>
        <ul>
            {% for subject in subjects %}
            <li> {{subject.subject_name}}
                <span>
                    <a href="{% url 'editSubject' subject.pk %}">수정</a>
                    <a href="{% url 'deleteSubject' subject.pk %}">삭제</a>
                </span>
                <ul>
                    <li>전공: {{subject.major}}</li>
                    <li>교수: {{subject.prof_name}}</li>
                    <li>메모: {{subject.memo}}</li>
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>