{% extends './base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static './blogApp/detail-styles.css' %}">
<link rel="stylesheet" href="{% static './blogApp/edit-styles.css' %}">
{% endblock css %}

{% block title %}
수정
{% endblock title %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="content-box">
    <div class="detail-header">
      <div class="post-title">
        <input type="text" value="{{ post.title }}" name="title" />
      </div>
    </div>
    <div class="post-content">
      <textarea name="content">{{ post.content }}</textarea>
    </div>

    <div class="w80">
      <hr>
    </div>

    <div class="control-bar edit-confirm">
      <button type="submit">적용</button>
      <a href="{% url 'detailView' post.pk %}">
        <button type="button">취소</button>
      </a>
    </div>
  </div>
</form>

{% endblock %}