

.post-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.post-list a:hover {
  color: gray;
}

.post-list-head, .post-list-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-list-head div {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-count {
  flex-basis: 20px;
}

.post-title {
  width: 500px;
}

.post-author {
  width: 100px;
  text-align: center;
}

.post-view {
  width: 50px;
  text-align: center;;
}