<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="header">
        <h1>카테고리별 보기</h1>
    </div>
    <div class="main vertical">
        <div class="content-box">
            <h2 class="category">{{ articles.0.category }}</h2>
            <ol>
                {% for article in articles %}
                <li>
                    <a href="{% url 'detail' article.id %}">{{article.title}}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="footer">
        <a href="/list">전체 목록 보기</a>
    </div>
</body>
</html>